     
body{
	background-color: #e6efff;
}

#hello{
	font-family: bookmania;
	font-weight: bold;
	font-size: 3vw;
	color: #40444a;    
	margin-left: 7vw;

}

.links{
	font-family: bookmania;
	font-size: 1.6vw;
}




#name{
    font-family: helvetica;
    margin-left: 6.5vw;
    font-size: 1.5vw;
    line-height: 3vw;
    background: white;
    margin-right: 50vw;
    margin-top: 26px;
    margin-bottom: -30px;
    opacity: 80%;
    padding: 25px;
}

#name:hover{
	background-color: black;
	color:cornflowerblue;
	opacity: 100%;
}

#studiotitle{
	 font-family: helvetica;
    font-style: italic;
    font-size: 4.3vw;
    background: cornflowerblue;
    margin-left: 6vw;
    margin-top: 5vw;
    margin-right: 65vw;
    padding: 20px;
    color: white;
    box-shadow: darkblue 5px 10px;

}

#studiotitle:hover{
	background-color: black;
}

#lab{    
font-family: helvetica;
    font-style: italic;
    font-size: 4.3vw;
    background: cornflowerblue;
    margin-left: 45vw;
    margin-top: -13vw;
    margin-right: 65vw;
    padding: 20px;
    color: white;
    box-shadow: darkblue 5px 10px;
    float: right;
    position: absolute;

}

#lab:hover{
	background-color: black;
}


#hana{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 80vw;
    text-decoration: none;
    background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#hana:hover{
	background-color: white;
		cursor: pointer;

}


#aishah{
	text-decoration: none;
    background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
    margin-left: 30vw;
    width: 13vw;
    margin-top: -50px;
}

#aishah:hover{
		background-color: white;
	cursor: pointer;

}



#duncan{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-left: 55vw;
    margin-top: -3.5vw;
}

#duncan:hover{
	background-color: white;
	cursor: pointer;

}

#jodi{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 150px;
    margin-left: 40px;

}

#jodi:hover{
	background-color: white;
	cursor: pointer;
}


#tyler{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
    width: 15vw;
    margin-top: 150px;
    margin-left: 30vw;


}

#tyler:hover{
	background-color: white;
	cursor: pointer;
	}


#ayline:hover{
	background-color: white;
	cursor: pointer;
	}

#ayline{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
    width: 15vw;
    margin-top: 150px;
    margin-left: 55vw;

}

#students{    
	font-family: helvetica;
    font-size: 3vw;
    margin-top: 8vw;
    margin-left: 40px;
    background: white;
    padding: 20px;
    margin-right: 77vw;
}


#ilan:hover{
	background-color: white;
	cursor: pointer;
	}

#ilan{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 350px;
    margin-left: 40px;
    margin-bottom: 70px;
}


#amy:hover{
	background-color: white;
	cursor: pointer;

}

#amy{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 350px;
    margin-left: 30vw;
    margin-bottom: 70px;

}

#victoria:hover{
	background-color: white;
	cursor: pointer;
}

#victoria{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 550px;
    margin-left: 40px;
    margin-bottom: 70px;
}

#michelle:hover{
	background-color: white;
	cursor: pointer;
}

#michelle{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
    width: 15vw;
    margin-top: 350px;
    margin-left: 55vw;
}

#freeze:hover{
	background-color: white;
	cursor: pointer;
}

#freeze{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 550px;
    margin-left: 30vw;
    margin-bottom: 70px;
}

#isabella:hover{
	background-color: white;
	cursor: pointer;
}

#isabella{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
    width: 15vw;
    margin-top: 550px;
    margin-left: 55vw;

}

#noya:hover{
	background-color: white;
	cursor: pointer;

}

#noya{
	text-decoration: none;
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 750px;
    margin-left: 40px;
    margin-bottom: 70px;
}

#erin:hover{
	background-color: white;
	cursor: pointer;
}


#erin{
	background-color: cornflowerblue;
    box-shadow: darkblue 5px 5px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 80vw;
    position: absolute;
	width:15vw;
	margin-top: 750px;
    margin-left: 30vw;
    margin-bottom: 70px;
}




.move{
	max-width: 200px;
	position: absolute;
	margin-left: 70vw;
	margin-top: -45vw;
}


.move:hover{
	cursor: pointer;
}