
@font-face {
    font-family:"BaskervilleMTPro-Semibold";
    src:url("BaskervilleMTPro-Semibold.woff2") format("woff2"),url("BaskervilleMTPro-Semibold.woff") format("woff"),url("BaskervilleMTPro-Semibold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        