
@font-face {
    font-family:"SupriaSans-Regular";
    src:url("HVD Fonts - SupriaSans-Regular.woff2") format("woff2"),url("HVD Fonts - SupriaSans-Regular.woff") format("woff"),url("HVD Fonts - SupriaSans-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        