
@font-face {
    font-family:"Cloister Black Light";
    src:url("CloisterBlack.woff2") format("woff2"),url("CloisterBlack.woff") format("woff"),url("CloisterBlack.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        