html, body{
	margin: 0;
	padding: 0;

}

html{
	font-size: 1.5vw;
	font-family: monospace;
}

#column1{
	background-color: cornflowerblue;
	padding: 30px;
	z-index: 900;

}

#column2{
	background-color: #142a3d;
	padding: 10px;
	color:white;
	display: inline-block;
	width: 50%;
	margin-top: 5vw;
	margin-left: 2vw;
	z-index: 900;
	padding-left: 20px;

}

#column3{
	background-color: #8a193e;
	font-size: 1.5vw;
	color: white;
	border-radius: 50%;
	max-width: 15vw;
	max-height: 80vw;
	padding: 3vw;
	margin-top: 3vw;
	margin-left: 50vw;
	text-align: center;
	z-index: 900;


}


#column4{
	background-color: #e0eeff;
	padding: 30px;
	display: inline-block;
	width: 40%;
	margin-left: 50vw;
	margin-top: 10vw;
}





.box{
	position: sticky;
	background-color: black;
	color: cornflowerblue;
	padding: 10px;
	border-radius: 20px;
	z-index: 950;
	max-width: 150px;
	text-align: center;
	top: 0;
	margin-top: 10vw;
	margin-left: 30vw;
}